---
# Security role handlers

- name: Reload UFW
  community.general.ufw:
    state: reloaded

- name: Restart fail2ban
  ansible.builtin.systemd:
    name: fail2ban
    state: restarted
    enabled: true

- name: Restart sshd
  ansible.builtin.systemd:
    name: sshd
    state: restarted
  listen: Restart SSH

- name: Restart ssh
  ansible.builtin.systemd:
    name: ssh
    state: restarted
  listen: Restart SSH
