---
# Caddy role handlers

- name: Validate and reload Caddy
  ansible.builtin.command: caddy validate --config /etc/caddy/Caddyfile
  changed_when: false
  notify: Reload Caddy

- name: Reload Caddy
  ansible.builtin.systemd:
    name: caddy
    state: reloaded

- name: Restart Caddy
  ansible.builtin.systemd:
    name: caddy
    state: restarted
