{
  "log-driver": "{{ docker_log_driver }}",
  "log-opts": {
    "max-size": "{{ docker_log_max_size }}",
    "max-file": "{{ docker_log_max_file }}"
  },
  "storage-driver": "{{ docker_storage_driver }}",
  "iptables": true,
  "bip": "{{ docker_bip }}",
  "live-restore": {{ (false if (vps_components.swarm | default(false)) else (docker_live_restore | default(true))) | to_json }},
  "default-address-pools": {{ docker_default_address_pools | to_json }},
  "default-ulimits": {
    "nofile": {
      "Name": "nofile",
      "Hard": 65535,
      "Soft": 65535
    }
  }
}
